
<h1>Rate @ViewBag.Movie</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RateMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <select name="_rank" class="form-control" asp-items="ViewBag.Numbers"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="OK" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>